.App {
  text-align: center;
}

.test-card {
  width: 200px;
  height: auto;
  text-align: center;
}

.test-card-expand {
  height: auto;
}

.test-card button {
  background: #fff;
  color: grey;
  border: 2px solid grey;
  padding: 0px;
  border-radius: 35px;
  width: 40px;
  text-align: center;
  position: relative;
  top: 44px;
}

.test-card button:hover,
.test-card button:active,
.test-card button:focus {
  background: none;
  color: darkblue;
}
